body {
    font-family: helvetica;
    font-size: 14px;
}
		
#graph-area {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
}

#form-area{
    top: 15px;
    z-index: 1030;
    position: fixed;
    right: 0;
    left: 0;
}

input{
    width: 300px !important;
}